<div class="header-wrapper">
    <div class="heading-container">
        <div class="header-title-container">
            <h1>TUTTI FRUTTI</h1>
        </div>
        <div class="header-subtitle-container">
            <h2>JUICY MUSIC</h2>
        </div>
    </div>
    <div class="navigation-container">
        <div {{stimulus_controller('dropdown')}} class="dropdown-container">
            <button type="button" data-action="click->dropdown#toggle click@window->dropdown#hide" class="dropdown-toggle">Menu</button>

            <div data-dropdown-target="menu" class="dropdown-menu"
                data-transition-enter-from="opacity-0 scale-95" 
                data-transition-enter-to="opacity-100 scale-100"
                data-transition-leave-from="opacity-100 scale-100"
                data-transition-leave-to="opacity-0 scale-95"
            >
                <a href="{{ path('user_wishlist')}}" class="dropdown-item" data-action="click->dropdown#toggle">My Wishlist</a>
                <a href="{{ path('home')}}" class="dropdown-item" data-action="click->dropdown#toggle">Discover</a>
            </div>
        </div>
    </div>
</div>
